@import "tailwindcss";

@theme {
  --color-primary-bg: rgba(23, 33, 43, 1);
  --color-secondary-bg: rgba(145, 158, 171, 0.12);
  --color-accent-bg: rgba(233, 72, 23, 1);
  --color-card-bg: rgba(38, 48, 58, 1);
  --color-primary-text: rgba(255, 255, 255, 1);
  --color-secondary-text: rgba(145, 158, 171, 1);
  --color-button-accent: rgba(233, 72, 23, 1);

  --color-junior-bg: rgba(34, 197, 94, 1);
  --color-middle-bg: rgba(255, 171, 0, 1);
  --color-senior-bg: rgba(255, 86, 48, 1);
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Collapse.css */

.collapse-content {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  /* Smooth animation for height changes */
}

.collapse-content.collapsed {
  height: 0;
  /* Hidden state */
}

.collapse-content.expanded {
  /* Set a fixed height or use max-height for dynamic content */
  height: auto;
  /* For smooth animation with dynamic height, consider using a library like react-collapsed */
}
